<%
skipped_name='qa_skipped_tests'


tests_measure=measure('qa_tests')
execution_time=measure('qa_test_execution_time')
success_percentage=measure('qa_test_success_density')

tests_failures=measure('qa_test_failures')
tests_error=measure('qa_test_errors')

resource_id=@resource.permanent_id

if tests_measure
  %>
  <table width="100%">
    <tr>
      <td valign="top" width="50%" nowrap>
        <%
        if tests_measure
          %>
          <div class="dashbox">
            <h3>QA Tests</h3>
            <p><span class="big">
              <% #suc_per_url='/test_execution/measures/'+resource_id+'?metric=qa_test_success_density' %>
              <%= format_measure(success_percentage, :suffix => '', :url => '/test_execution/measures/'+resource_id.to_s+'?metric=qa_test_success_density') %></span>
              <%= dashboard_configuration.selected_period? ? format_variation(success_percentage) : trend_icon(success_percentage) -%>
            </p>
            <p>
              <%= format_measure(tests_failures, :suffix => message('widget.code_coverage.failures.suffix'), :url => '/test_execution/measures/'+resource_id.to_s+'?metric=qa_test_failures') %>
              <%= dashboard_configuration.selected_period? ? format_variation(tests_failures) : trend_icon(tests_failures) -%>
            </p>
            <p>
              <%= format_measure(tests_error, :suffix => message('widget.code_coverage.errors.suffix'), :url => '/test_execution/measures/'+resource_id.to_s+'?metric=qa_test_errors') %>
              <%= dashboard_configuration.selected_period? ? format_variation(tests_error) : trend_icon(tests_error) -%>
            </p>
            <p>
              <%= format_measure(tests_measure, :suffix => message('widget.code_coverage.tests.suffix'), :url => '/test_execution/measures/'+resource_id.to_s+'?metric=qa_tests') %>
              <%= dashboard_configuration.selected_period? ? format_variation(tests_measure) : trend_icon(tests_measure) -%>
            </p>
            <% skipped_measure=measure(skipped_name)
            if dashboard_configuration.selected_period? || (skipped_measure && skipped_measure.value && skipped_measure.value>0)
              %>
              <p>
                <%= format_measure(skipped_measure, :suffix => message('widget.code_coverage.skipped.suffix'), :url => '/test_execution/measures/'+resource_id.to_s+'?metric=qa_skipped_tests') %>
                <%= dashboard_configuration.selected_period? ? format_variation(skipped_measure) : trend_icon(skipped_measure) -%>
              </p>
              <% end %>
              <p>
                <%= format_measure(execution_time, :suffix => '', :url => '/test_execution/measures/'+resource_id.to_s+'?metric=qa_test_execution_time') %>
                <%= dashboard_configuration.selected_period? ? format_variation(execution_time) : trend_icon(execution_time) -%>
              </p>
            </div>
            <% end %>
          </td>
        </tr>
      </table>
      <% end %>